In [ ]:
print(1+1)

2

In [ ]:
# 上底・下底・高さを設定（cm）
jou_teihen = 10
ka_teihen = 20
takasa = 5

# 台形の面積を計算して変数に代入
menseki = (jou_teihen + ka_teihen) * takasa / 2

# 数値と文字列を結合して出力
print(str(menseki) + "cm²")

75.0cm²

In [1]:
# 上底・下底・高さを設定（cm）
top = 10
bottom = 20
height = 5

# 台形の面積の公式を使って計算
# （上辺 + 下辺）× 高さ ÷ 2
area = (top + bottom) * height / 2

# f文字列を使って、計算結果と単位を一緒に表示
print(f"{area}cm²")

75.0cm²

In [ ]:
# 二等辺三角形 底辺×高さ÷2
teihen=20
takasa=20
takasa=2

# 二等辺三角形の面積を変数に代入
menseki=(teihen*takasa/2)

# 数値と文字列を結合して出力
print(str(menseki)+"cm²")

20.0cm²

In [ ]:
user_name = "豊太郎"
print(user_name)
user_name = "MOMO子"
print(user_name)

豊太郎
MOMO子

In [ ]:
# 整数型と浮動小数点型の足し算
number1 = 5
number2 = 2.5
print(number1 + number2)

# 文字列型と文字列型の連結
last_name  = "侍"
first_name = "太郎"
print(last_name + first_name)

7.5
侍太郎

In [ ]:
last_name   = "侍"
first_name  = "太郎"
sister_name = "花子"

# 3つの変数を文字列内に埋め込んで表示
print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [ ]:
print(5*5)

25

In [ ]:
age = 19


 # 年齢

if age < 20:
    # 未成年の場合
    print("ジュースで乾杯！")
    print("ダメ!絶対!!")
else:
    # 成年の場合
    print("お酒で乾杯！")
    print("こんばんは")

ジュースで乾杯！
ダメ!絶対!!

In [ ]:
print(9*9)
print(10/2)
print("１００")

81
5.0
１００

In [ ]:
is_hungry = 0

if is_hungry:
    print("お腹すいた！")
else:
    print("まだまだ大丈夫や！")

まだまだ大丈夫や！

In [ ]:
print(45 + 18)
print(30 - 12)
print(15 * 6)
print(30 / 3)
print(45 % 8)

63
18
90
10.0
5

In [ ]:
print(45 + 1.8)
print(3 - 1.2)
print(15 * 0.6)
print(3 / 0.3)
print(45 % 0.8)

46.8
1.8
9.0
10.0
0.1999999999999975

In [ ]:
print("今日の天気は" + "晴れ")
print("今日の天気は" "曇り")

今日の天気は晴れ
今日の天気は曇り

In [ ]:
print("降水確率" + str(50) + "％" )

降水確率50％

In [ ]:
print("晴れ" * 5)
print("晴れ" + "晴れ" + "晴れ" + "晴れ" + "晴れ")

晴れ晴れ晴れ晴れ晴れ
晴れ晴れ晴れ晴れ晴れ